.button-signup{
    background-color: #20215f;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    color: white;

}

.button-apply{
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    background: #460c0c;
}