.button-signup{
    background-color: #20215f;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    color: white;

}